<div class="row">
        <div class="container">
                <div class="logo">
                        <img src="../../../assets/argentina programa1.png" id="logoAP">

                </div>
                <div class="redes">
                        <a href="login"></a>
                        <a href="https://www.facebook.com/javier.munho"><img src="../../../assets/facebook.png" id="facebook"></a>
                        <a href="https://www.instagram.com/javiermunho"><img src="../../../assets/instagram.png" id="instagram"></a>
                        <a href="https://www.linkedin,com/in/nelson-javier-munhó-a6b6a2b0"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                        <a href="https://wa.me/1138988346?text=[texto%20de%20hola]"><img src="../../../assets/whatsapp.png" id="whatsapp"></a>
                        <a href="https://github.com/JavierMunho"><img src="../../../assets/github.png" id="github"></a>
                        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>

                </div>
        </div>
</div>