<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil1.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
<p id="titulo">Full Stack Developer Jr.</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>En busqueda de nuevos desafios y aprendisajes, deseo que el concimiento me haga mejorar la calidad de vida y cambie el ambiente de trwabajo
            . Estoy iniciandome en la programacion y me resulta apasionante.
        </p>
    </span>
</div>
</div>