.row{
   
   background: cadetblue;
}


.contenedor{
   display:flex;
   justify-content: space-between;
   align-items:center;
   
}


.redes{margin-right: 20px;}
img {
   width: 25px;
}
.logo {

   size: 150px;
}

.btn{
   border-width: medium;
}