<div class="row">
 <h1>Habilidades</h1> 
 <h3>Hard Skills</h3>   
 <div class="text center col -sm-4 col -md- 4 col -lg 4 ">
<circle-progress
[percent]="50" 
[radius]="95" 
[showUnits]="false"
[title]="'CSS'"
[outerStrokeWidth]="9"
[innerStrokeWidth]="2"
[outerStrokeColor]="'lightblue'" 
[innerStrokeColor]="'white'" 
[animation]="true" 
[animationDuration]="300">
</circle-progress>
</div>
<div class="text center col -sm-4 col -md- 4 col -lg 4 ">
<circle-progress 
[percent]="45" 
 [radius]="95" 
 [showUnits]="false"
 [title]="'HTML'" 
 [outerStrokeWidth]="9"
 [innerStrokeWidth]="2"
 [outerStrokeColor]="'lightblue'" 
 [innerStrokeColor]="'white'"
 [animation]="true"
 [animationDuration]="300">
    </circle-progress>
</div>
<div class="text center col -sm-4 col -md- 4 col -lg 4 ">
<circle-progress
 [percent]="35" 
 [radius]="95"
 [showUnits]="false" 
 [title]="'Java Script'" 
 [outerStrokeWidth]="9"
 [innerStrokeWidth]="2"
[outerStrokeColor]="'lightblue'" 
[innerStrokeColor]="'white'"
 [animation]="true"
 [animationDuration]="300">
    </circle-progress>
</div>
<h3>Soft skills</h3>
<div class="text center col -sm-4 col -md- 4 col -lg 4 ">
    <circle-progress 
 [percent]="85"
 [radius]="95"
 [showUnits]="false"
 [title]="'Liderazgo'" 
 [outerStrokeWidth]="9"
 [innerStrokeWidth]="2" 
 [outerStrokeColor]="'lightblue'" 
 [innerStrokeColor]="'white'"
 [animation]="true"
 [animationDuration]="300">
    </circle-progress>
</div>
<div class="text center col -sm-4 col -md- 4 col -lg 4 ">
    <circle-progress
[percent]="85" 
[radius]="95" 
[showUnits]="false"
[title]="'Trabajo en equipo'" 
[outerStrokeWidth]="9"
[innerStrokeWidth]="2" 
[outerStrokeColor]="'lightblue'" 
[innerStrokeColor]="'white'"
[animation]="true"
[animationDuration]="300">
    </circle-progress>
</div>
<div class="text center col -sm-4 col -md- 4 col -lg 4 ">
    <circle-progress
[percent]="95"    
[radius]="95"
[showUnits]="false"
[title]="'Proactivo'" 
[outerStrokeWidth]="9"
[innerStrokeWidth]="2"
[outerStrokeColor]="'lightblue'" 
[innerStrokeColor]="'white'"
[animation]="true"
[animationDuration]="300">
    </circle-progress>
</div>
</div>